<div class="dropdown">
  <button class="btn btn-outline-adaptive btn-sm ps-3 dropdown-toggle rounded-pill" type="button"
    data-bs-toggle="dropdown" aria-expanded="false">
    <%= it.version %>
  </button>
  <ul class="dropdown-menu dropdown-menu-start rounded-2 overflow-hidden position-absolute" style="min-width: unset;">

    <% for (const entry of it.versions) { %>
    
    <li>
      <a class="dropdown-item small <% if (it.version === entry.name) { %> active <% } %>" data-no-ajax=true
        href="<%= entry.href %>"><%= entry.name %></a>
    </li>
    <% } %>

  </ul>
</div>
